* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
li{
	list-style: none;
}




//null

// ui
._indicator-online{
	background-color: #1BD2A4;
	width: 14px;
	height: 14px;
	border-radius: 50%;
}
._indicator-offline{
	background-color: #CF3737;
	width: 14px;
	height: 14px;
	border-radius: 50%;
}
._font-Montserrat{
	font-family: 'Montserrat', sans-serif;
}
._ibg{
	width: 100%;
	& img{
		width: 100%;
	}
}



// ui




.page {
	flex: 1 1 auto;
	background-color: #EDFCFF;
  padding: 1% 15px 0% 15px;
	
	@media (min-width: 767px) {
		height: 100%;
	}
}
._container{
  max-width: 1270px;
  margin: 0 auto;
	@media(max-width: 1310px){
			max-width: 970px;
	}
}
.main {
	// .main__container
	padding: 0 15px 0 15px;
	&__container {
		display: flex;
		justify-content: space-between;
		padding: 1% 0 0 0;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	// .main__menu

	&__menu {
		width: 25%;
		display: flex;
		flex-direction: column;
		@media (max-width: 980px) {
			width: 25%;
		}
		@media (max-width: 767px) {
			padding: 2% 3% 2% 3%;
			width: 100%;
		}
	}

	// .main__body

	&__body {
		width: 75%;
		display: flex;
		flex-direction: column;
		flex: 0 1 auto;
		margin-left: 20px;
		background-color: #fff;
		padding: 2% 3% 0% 3%;
		border-radius: 20px;
		@media (max-width: 820px) {
			padding: 1% 2% 0% 2%;
		}
		@media (max-width: 767px) {
			margin: 0;
			width: 100%;
		}
	}
	.main__body._active{
		display: none;
	}
	&__account{
		
	}
	.main__account._active{
		display: flex;
	}
}



// menu
.menu-main {
	position: relative;
	display: flex;
	flex-direction: column;
	@media (max-width: 767px) {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	// .menu-main__head
  &__autorize{
		box-sizing: content-box;
    height: 45%;
    background-color: #fff;
		padding: 25px 25px 50px 25px;
		border-radius: 20px;
  }
  &__banner{
		width: 100%;
    margin-top: 20px;
    height: 45%;
    background-color: #fff;
		padding: 25px 35px 50px 35px;
		border-radius: 20px;
  }
}

.menu-main {

	// .menu-main__autorize

	&__autorize {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.autorize {

	// .autorize__image

	&__image {
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .autorize__title

	&__title {
		margin-top: 25px;
		text-align: center;
		font-size: 20px;
		font-weight: 700;
	}

	// .autorize__textarea

	&__textarea {
		width: 100%;
	}

	// .autorize__input

	&__input {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		border: 2px solid #EBF8FF;
		padding: 15px 15px;
		position: relative;
		width: 100%;
		img{
			position: absolute;
			left: 10px;
		}
		input{
			outline: none;
			width: 80%;
		}
		input::placeholder{
			text-align: center;
			color: #00A3FF;
		}
	}

	// .autorize__button

	&__button {
			background-color: #18ACFF;
			box-shadow: 0 0 5px #18ACFF;
			display: flex;
			align-items: center;
			border-radius: 10px;
			padding: 10px 30px 10px 30px;
			margin-top: 45px;
			& button{
				color: #fff;
				font-weight: 500;
				display: flex;
				align-items: center;
				font-family: 'Montserrat', sans-serif;
				span {
					font-size: 19px;
				}			
			}
	}
}
.menu-main {

	// .menu-main__banner

	&__banner {
	}
}
.banner {

	// .banner__slider

	&__slider {
		height: 244px !important;
	}

	// .banner__wrapper

	&__wrapper {
		height: 100%;
	}

	// .banner__slide

	&__slide {
		padding-bottom: 10px;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .banner__pagination

	&__pagination .swiper-pagination-bullet{
		background-color: rgba($color: #fff, $alpha: 0.7);
		width: 15px;
		height: 15px;
	}
	&__pagination .swiper-pagination-bullet-active{
		background-color: rgba($color: #fff, $alpha: 1);
		width: 15px;
		height: 15px;
	}
	// .banner__button-prev

	&__button-prev {
		color: rgba($color: #fff, $alpha: 0.7);
		@media (max-width: 980px) {
			
		}
	}

	// .banner__button-next

	&__button-next {
		color: rgba($color: #fff, $alpha: 0.7);
	}
}
.banner-title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin: 15px 0 35px 0;
}






// menu
// menu
// menu







.body-main {
	display: flex;
	// .body-main__content

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex: 1 0 auto;
	}

	// .body-main__manage

	&__manage {
		@media (max-width: 1310px) {
			margin-top: 50px;
		}
	
	}
}
.content-body {

	// .content-body__head

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	// .content-body__news

	&__news {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 554px;
		flex: 1 1 auto;
	}

	// .content-body__slider

	&__slider {
	}

	// .content-body__new

	&__new {
		
	}
}


.slider-content {

	// .slider-content__wrapper

	&__wrapper {
	}

	// .slider-content__slide

	&__slide {
		font-size: 15px;
	}

	// .slider-content__pagination
	.slider-content__pagination .swiper-pagination-bullet{
		background-color: #18ACFF;
		opacity: 1;
		&-active{
			background-color: #FFF;
		}
	}
	&__pagination{
		position: absolute;
		left: 10px;
	}
}
.swiper-container {
	height: 203px;
	min-height: 0;
	min-width: 0;
  }
.new-content {

	// .new-content__item

	&__item {
		background-color: #EBF7FD;
		border-radius: 20px;
		margin: 15px 0 15px 0;
		padding: 3% 5% 7% 5%;
	}
}
.item-new {
	width: 100%;
	// .item-new__head

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 980px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .item-new__title

	&__title {
		display: flex;
		font-size: 28px;
	}

	// .item-new__admin

	&__admin {
		display: flex;
		align-items: center;
		margin: 0 15px 0 10px;
	}

	// .item-new__nickname

	&__nickname {
		font-size: 10px;
		margin-left: 10px;
	}

	// .item-new__button

	&__button {
		position: relative;
		background-color: #18ACFF;
		padding: 8px 24px 8px 36px;
		border-radius: 10px;
		& button{
			color: #fff;
		}
		& button::before{
			content: url('../img/icons/download.svg');
			position: absolute;
			top: 11px;
			left: 10px;
		}
	}

	// .item-new__date

	&__date {
		color: #00A3FF;
		padding: 15px 0 15px 0;
		font-weight: 700;
	}

	// .item-new__content

	&__content {
		font-size: 14px;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
}
.manage-body {
	display: flex;
	justify-content: space-between;
	height: 100%;
	@media (max-width: 767px) {
		margin: 50px auto 0 auto;
	}
	// .manage-body__head

	&__head {
		display: flex;
		justify-content: space-between;
		
	}

	// .manage-body__button

	

	// .manage-body__user

	&__user {
		display: flex;
		align-items: center;
	}

	// .manage-body__avatar

	&__avatar {
			
	}

	// .manage-body__arrow

	&__arrow {
		padding: 15px 0 0 10px;
	}

	// .manage-body__content

	&__content {
		max-width: 245px;
		@media(max-width: 1310px){
			display: none;
		}
	}

	// .manage-body__banner

	&__banner {
		border-radius: 25px;
		padding: 25px 30px 30px 20px;
		margin-bottom: 45px;
		&:nth-child(1){
			background-image: url(../img/banner-image.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: 0 0 10px #C23B3B;
		}
		&:nth-child(2){
			background-image: url(../img/banner-image2.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: 0 0 10px #3866E5;
		}
	}
}
.manage-banner {

	// .manage-banner__title

	&__title {
		color: #fff;
		opacity: 0.7;
    margin-bottom: 35px;
	}

	// .manage-banner__text

	&__text {
		color: #fff;
		font-weight: 700;
		margin-bottom: 25px;
		font-size: 13px;
		line-height: 30px;
	}

	// .manage-banner__gallery

	&__gallery {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
	}

	// .manage-banner__price

	&__price {
		display: flex;
		align-items: center;
		margin-top: 10px;
		& span{
			font-weight: 600;
			color: #fff;
			font-size: 10px;
			opacity: 0.9;
			margin-left: 10px;
		}
	}

	&__image{
		&:nth-child(1){
			color: #C23B3B;
			opacity: 0.3;
		}
		&:nth-child(2){
			color: #2C4EAB;
			opacity: 0.3;
		}
	}

	// .manage-banner__navigation
	&__body{
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
	&__navigation {
		margin-top: 20%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .manage-banner__button

	&__button {
		
		& button{
			font-weight: 700;
			background-color: #fff;
			padding: 13px 25px 13px 25px;
			border-radius: 10px;
		}
		&_1 button{
			color: #FF5468;
		}
		&_2 button{
			margin-top: 20px;
			color: #3866E5;
		}
	}

	// .manage-banner__icon

	&__icon {
	}
}

.body-main {

	// .body-main__head

	&__head {
		margin-bottom: 45px;
		@media (max-width: 1310px) {
			margin-bottom: 0px;
		}
	}
}
.head-body {

	// .head-body__main

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@media (max-width: 1200px) {
			justify-content: center;
		}
	}
}
.main-body {
	display: flex;
	justify-content: space-between;
	// .main-body__title
	
	@media (max-width: 980px) {
		flex-direction: column;
	}
	&__title {
    font-size: 28px;
		font-weight: 700;
		@media (max-width: 980px) {
			margin-bottom: 30px;
		}
	}

	// .main-body__inner


	// .main-body__item

	&__item {
		background-color: #EBF8FF;
		padding: 8px 10px 4px 10px;
		border-radius: 10px;
		margin: 0 10px 0 10px;
		& button{
			color: #00A3FF;
			font-weight: 700;
			font-size: 13px;
		}
	}

	// .main-body__button

	&__button {
		background-color: #18ACFF;
		padding: 10px 10px 4px 10px;
		max-height: 36px;
		border-radius: 10px;
		margin-right: 15px;
		@media (max-width: 850px) {
			margin-left: 10px;
		}
		box-shadow: 0 0 5px #18ACFF;
		img{
			padding: 0;
			margin: 0;
		}
	}

	// .main-body__navigation

	&__navigation {
		display: flex;
		align-items: center;
		padding: 0 2px 0 0;
		@media (min-width: 1310px) {
		 
		}
		@media (max-width: 1310px) {
		
		}
		@media (max-width: 1200px) {
			
		}
	}

	// .main-body__settings

	&__settings {
			background-color: #18ACFF;
			box-shadow: 0 0 5px #18ACFF;
			display: flex;
			align-items: center;
			border-radius: 10px;
			padding: 10px 14px 10px 14px;
		  font-size: 13;
			& button{
				color: #fff;
				font-weight: 700;
				display: flex;
				align-items: center;		
			}
			& button::before{
				content: url(../img/icons/Filter.svg);
				margin: 0 5px 0 0;
				font-size: 15px;
			}
	}

	// .main-body__user

	&__user {
		display: flex;
		align-items: center;
	}

	// .main-body__avatar

	&__avatar {
		margin-left: 15px;
	}

	// .main-body__arrow

	&__arrow {
		margin: 10px 0 0 10px;
	}
}
